body {
  width: 100%;
  margin: 0;
  font-family:'Segoe UI', sans-serif;
}

* {
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
}

.my-avatar {
  width: 150px;
  border-radius: 50%;
}

header {
  margin-top: 10px;
  background-color: rgb(241, 239, 239);
}

.contacts {
    text-align: right;
    padding-right: 10px;
}

.name{
  font-size: large;
}

table {
  padding: 0 0px;
  width: 100%;
  table-layout: fixed;
}

.about-me {
  width: 100%;
}

.td-picture {
  width: 180px;
}

td{
text-align: left;
}

section td:first-of-type {
  width: 15%;
}

section hr {
  margin-left: 30px;
  margin-right: 50px;
  opacity: 0.4;
  color:rgb(56, 54, 54);
}

.headerline {
  border: 1px solid rgb(233, 166, 41);
  margin: 0;;
}

h2 {
  color: rgb(223, 152, 20);
  font-weight: 300;
  font-size: medium;
  
}

h3 {
  font-weight: 300;
}

ul {
  list-style: none;
  padding: 0;
}

progress {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: black;
  margin-left: 0;
}

a:visited {
  color:grey;
}

a:hover {
  color: grey;
}





